#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: lightcoral;*/
  transform:scale(var(--scale));
}

.book-selection {
  font-family: 'Courier New', monospace;
  font-size: large;
  padding: 2vh 1vh 2vh 4em;
  min-width:15vw;
  border:1vh solid var(--gray);
  border-radius: 4vh;

  background-image: var(--closed-book);
  background-position: 1.5em 50%; 
  background-repeat: no-repeat;
  background-size: 30px 30px;

  /*transform:scale(var(--child-scale));*/
}

.book-selection:focus {
  outline: transparent ;
  border-color: var(--green);
  box-shadow: 0 0 1vh var(--green);
  background-image: var(--open-book);

  color: var(--green);
  font-weight: bolder;
}


.book button {
  width:var( --child-width );
  transform:scale(var(--scale));
}

.book button sub {
  background-color: lightcoral;
  color: black;
  /*font-size: smaller;*/
  border-radius: 5px;
  padding: 2px;
  /*transform:scale(var(2));*/

}


.book, .book-selection {
  --green:SeaGreen ;
  --gray:SlateGray ;
  /*--parent-width:100%;*/
  --child-width: 100%;
  --scale: 0.95;
/*}*/
/**/
/*.book-selection {*/
  --open-book:url('./assets/open_book.svg');
  --closed-book:url('./assets/closed_book.svg');
  --green:SeaGreen ;
  --gray:SlateGray ;
}




