#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 67vw;*/
}
.book input {
  font-family: 'Courier New', monospace;
  font-size: large;
  /*padding: 1vw 3vw 1vw 11vw;*/
  padding: 2vh 1vh 2vh 4em;
  /*width:100%;*/
  /*width:100%;*/
  min-width:67vw;
  /*width:67vw;*/
  /*width:67vw;*/
  border:1vh solid var(--gray);
  border-radius: 4vh;
  /*height:5vh;*/
  /*font-size: 1vh;*/

  background-image: var(--closed-book);
  background-position: 1.5em 50%; 
  background-repeat: no-repeat;
  background-size: 30px 30px;
  /*background-size:5vh  5vw ;*/



}
.book input:focus {
  outline: transparent ;
  border-color: var(--green);
  box-shadow: 0 0 1vh #719ECE;
  background-image: var(--open-book);

  color: var(--green);
  font-weight: bolder;
}

.book button {
  width:100%;
}

.book {
  --green:SeaGreen ;
  --gray:SlateGray ;
  --open-book:url('./assets/open_book.svg');
  --closed-book:url('./assets/closed_book.svg');
}




