.sidenav {
  height: 76vh;
  width: var(--aside-width-open);
  position: fixed;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  /*transition: transform 0.5s ease-out;*/
  /*padding-top: 60px;*/
  overscroll-behavior: contain;
}

.sidenav a {
  padding: 3px;
  text-decoration: none;
  font-size: 2vh;
  color: gainsboro;
  display: block;
  text-align: left;
  /*transition: 0.5s;*/
}

.sidenav a span {
  color: gold;
}

.sidenav a:hover {
  color: gold;
}

.display-table-of-contents {
  width:50vw;
  height:15vh;
  position:fixed;
  z-index:2;
  color: gainsboro;
  background-color: #111;
  /*transition: transform 0.5s ease-out;*/
  font-size: 1vh;

  opacity: 0;


}



/*offsets*/
.top-left {
  top: 0;
  left: 0;
}
.bottom-left {
  bottom:0;
  left:0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-right {
  bottom:0;
  right:0;
}



.show-left {
  /*left:0;*/
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  transform:translateX(0);
  opacity: 1;
}

button.hide-left{
  /*left:-50%; */
  /*transition: transform 0.3s ease-in;*/
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  transform:translateX(var(--button-close));
}

aside.hide-left{
  /*left:-50%; */
  transition: transform 0.3s ease-in;
  transform:translateX(var(--aside-width-close));
}

.show-right{
  /*right:0;*/
  transition: transform 0.3s ease-out;
  transform:translateX(0);
  opacity: 1;
}

button.hide-right{
  /*right:-50%;*/
  /*transition: transform 0.3s ease-in;*/
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  transform:translateX(var(--button-open));
} 
aside.hide-right{
  /*right:-50%;*/
  transition: transform 0.3s ease-in;
  transform:translateX(var(--aside-width-open));
} 



.sidenav figure img {
  max-width:90%;display:block;margin:auto;
}


aside, button {
--button-close: -35vw;  
--button-open:   35vw;  
--aside-width-close: -50vw;
--aside-width-open: 50vw;
}

/*aside, button {*/
/*--aside-width-close: -45vw;  */
/*--aside-width-open:   45vw;  */
/*}*/
