/*aside {*/
/*  padding: 5%;*/
/*  height: 80%;*/
/*  width: 40%;*/
/*  position: fixed;*/
/*  z-index: 1;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background-color: #111;*/
/*  overflow-x: hidden;*/
/*  overflow-y: auto;*/
/*  padding-top: 60px;*/
/*  overscroll-behavior: contain;*/
/*}*/

main {
  align-self: center;
  justify-self: center;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding:5px;
}


.bottom {
  height: 10vh;
  /*width: 100%;*/
  /*background-color: blue;*/
}
