.loader {

  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid red;
  border-right: 30px solid red;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-inner {
  border: 5px solid black;
  margin:auto;
  display:block;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: white;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
