.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:scale(var(--scale));
  height:30vh; overflow-y: auto; overflow-x:hidden;
  overscroll-behavior-y: contain;

}

.book a {
  width:var( --child-width );
  transform:scale(var(--scale));
  color: white;
}

.book a sub {
  background-color: lightcoral;
  color: black;
  border-radius: 5px;
  padding: 2px;
}

.textbox {
  font-family: 'Courier New', monospace;
  font-size: large;
  padding: 2vh 1vh 2vh 4em;
  width:90%;
  border:1vh solid var(--gray);
  border-radius: 4vh;

  background-image: var(--closed-book);
  background-position: 1.5em 50%; 
  background-repeat: no-repeat;
  background-size: 30px 30px;
  box-sizing: border-box
}

.textbox:focus {
  outline: transparent ;
  border-color: var(--green);
  box-shadow: 0 0 1.5vh var(--green);
  background-image: var(--open-book);

  color: var(--green);
  font-weight: bolder;
}

.book a:hover,
.book a:focus
{
  filter: invert(0.9);
  outline: transparent;
  color: white;
}

.book,
.textbox {
  --green:SeaGreen ;
  --gray:SlateGray ;
  --child-width: 100%;
  --scale: 0.95;

  --open-book:url('./assets/open_book.svg');
  --closed-book:url('./assets/closed_book.svg');
}

.navbar {
  position: fixed;
  background-color: #242424;
  top:2vh;
  left:0;
  width: 100%;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.libro {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

.on-off {
  position:fixed;
  background-color: transparent;
  right:0.5em;
  top:  0.5em;
}
.circular {
  border-radius: 50%;
  right:3vw;
  top:0;
}

.home {
  position:fixed;
  left:0.5em;
  top: 0.5em;
}

.buttonlike {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  outline:transparent;

  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.buttonlike img {
  width:  3em;
  height: 3em;
}

.buttonlike:hover,
.buttonlike:focus-visible,
.buttonlike:focus
{
  filter: sepia(0.7) contrast(200%);
  outline:transparent;
  box-shadow:transparent;
}

.hidden {
  opacity: 0;
  z-index: -999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.top-panel {
  top: 0;
  right:0;
  width:100%;
  /*background-color: green;*/
  background-color: #242424;
  height: 4em;
  position: fixed;
  /*display: flex;*/
  box-sizing: content-box;
}
